= form_tag games_path, method: :post, data: { turbo: false } do
  .wrapper
    - @matrix.each do |cell|
      = number_field_tag "matrix[]", cell, onKeyPress: "if(this.value.length>0) return false;"
  .mt2
    = button_tag "Solve", class: "button"
    = link_to "Image", new_game_image_path, class: "button"
    = link_to "Clear", new_game_path, class: "button"
